    {% extends 'base.html' %}
    {% block title %}
    <title>Index</title>
    {% endblock title %}
    {% block content %}
    <h1>Index</h1>
        <form action="/hodim-add/" method="post">
            {% csrf_token %}
            <ul>
                <li>FIO : <input type="text" name="fio"></li>
                <li>Phone : <input type="text" name="phone"></li>
                <li>Mut : <input type="text" name="mut"></li>
                <li>Add : <input type="text" name="add"></li>
                <li><input type="submit" value="Qo'shish"></li>
            </ul>
        </form>
    {% endblock content %}

